<div class="">
  <div class="row">
    <div class="col-md-12">
      @RenderPage("_Shared_HeaderTag.cshtml")
      @RenderPage("_Shared_Image.cshtml")
      <div class="rich-text">
        @Html.Raw(Content.Text)
      </div>
    </div>
  </div>
</div>
