@RenderPage("_Shared__Assets.cshtml", new { parts = "styles" })

<div class="sc-element">
  @Edit.Toolbar(Content)
  @RenderPage("_Shared__HeaderTag.cshtml")
  <div class="rich-text">
    @Html.Raw(Content.Text)
  </div>
</div>
